@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.header {
  width: 100vw;
  height: 5rem;
  padding: 0 1.5rem;
  background-color: $white;
  border-bottom: rgba($grey, 0.05) 1px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: center;

    .tabs {
      margin-left: 5rem;
      display: flex;
      align-items: center;
      gap: 1.5rem;

      a {
        @include smooth-transition;
        @include center;
        height: 5rem;
        border: none;
        border-bottom: 0.3rem solid $transparent;

        &:hover {
          border-bottom: 0.3rem solid $grey-transparency;
        }

        span {
          @include font-header-bold;
          font-size: 1.2rem;
          margin: 0 0.5rem;
        }
      }

      .active {
        border-bottom: 0.3rem solid $primary-200;

        &:hover {
          border-bottom: 0.3rem solid $primary-200;
        }
      }
    }
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .profileImg {
      height: 3rem;
      width: 3rem;
      border-radius: 999px;
      margin-left: 1rem;
      border: 0.13rem solid $black;
    }
  }
}
