@import 'src/styles/abstracts/_variables';
@import 'src/styles/abstracts/mixins';

.checkboxHidden {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.defaultRadioButton {
  @include font-button;
  @include smooth-transition;

  display: inline-block;
  padding: 0.625rem 1.25rem;
  margin: 0;
  border: 0.125rem solid;
  border-radius: 0.625rem;
  text-align: center;
  cursor: pointer;

  &:hover {
    border-color: $black;
  }

  input[type='checkbox']:checked + & {
    &:hover {
      border-color: $black;
    }
  }
}

.easy {
  @extend .defaultRadioButton;
  background-color: $green;
  color: $white;

  input[type='checkbox']:checked + & {
    background-color: transparent;
    border-color: $grey;
    color: $grey;
  }
}

.medium {
  @extend .defaultRadioButton;
  background-color: $secondary-100;
  color: $white;

  input[type='checkbox']:checked + & {
    background-color: transparent;
    border-color: $grey;
    color: $grey;
  }
}

.hard {
  @extend .defaultRadioButton;
  background-color: $red;
  color: $white;

  input[type='checkbox']:checked + & {
    background-color: transparent;
    border-color: $grey;
    color: $grey;
  }
}
