$transparent: rgba(#fff, 0);
$black: #1f201f;
$grey: #4b4b4b;
$white: #ffffff;
$green: #05c05b;
$red: #d7222c;
$yellow: #ffc32b;
$blue: #3bb2c8;

$primary-100: #f16b67;
$primary-200: #ed4e4a;
$primary-300: #d83f3a;

$secondary-100: #3bb2c8;
$secondary-200: #2e8595;
$secondary-300: #1e6977;

$primary: $primary-100;
$secondary: $secondary-100;
$success: $green;
$warning: $yellow;
$danger: $red;
$info: $white;

$shadow-color: rgba($black, 0.15);

$max-product-content-width: 1200px;

$btn-border-width: 0.15rem;
$btn-content-height: 2rem;
