@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.footer {
  border-top: rgba($grey, 0.05) 1px solid;

  .exploreMore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mobile() {
      flex-direction: column;
      align-items: flex-start;
    }

    h2 {
      font-size: 3rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 900;
      margin: 0;

      @include mobile() {
        margin-bottom: 3rem;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 5rem 0;

    @include mobile() {
      padding: 5rem 1rem;
    }

    @include tablet() {
      padding: 5rem 2rem;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;

    @include mobile() {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include mobile() {
      margin-top: 2rem;
    }

    a {
      color: $primary-300;

      &:hover {
        color: $primary-100;
      }
    }

    & > * {
      margin-right: 3.125rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}