@import '../abstracts/variables';

.adminTitle {
  padding: .5rem 3rem;
  margin: 0;
  background-color: $white;
}

.adminHeaderSep {
  margin: 0;
  margin-bottom: 1rem;
}

.contentWrap {
  display: grid;
  grid-template-columns: 6fr 3fr;

  .contentLeftWrap {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    gap: 3rem;
    margin-right: 5rem;
  }
}

.adminSeperator {
  height: 100%;
  border-left: 1px solid $grey;
  position: absolute;
  top: 0;
  left: calc(100% / (6 + 3) * 6 - 2%);
  z-index: -1000000000000;
}