@import '../abstracts/variables';
@import '../abstracts/mixins';

.wrapper {
  @include wrapper;
}

.sectionPadding {
  padding: 6rem 0;

  @include mobile() {
    padding: 6rem 1.5rem;
  }

  @include tablet() {
    padding: 6rem 2rem;
  }
}
