@import '../abstracts/variables';
@import '../abstracts/mixins';

.map {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;

  .content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow-y: hidden;

    @include mobile() {
      flex-direction: column;
    }

    .cardGridContainer {
      overflow-y: scroll;
      max-width: 35rem;

      @include mobile() {
        max-width: unset;
      }

      .title {
        @include font-header-black;
        display: inline-block;
        padding: 1rem 1.5rem 0;
        font-size: 1.5rem;
      }

      .cardGrid {
        display: inline-block;
        padding: 1rem 1.5rem;
        width: auto;
        border-left: $grey-transparency 1px solid;

        @include mobile() {
          width: 100vw;
        }
      }
    }
  }
}
