@import 'src/styles/abstracts/_variables';
@import 'src/styles/abstracts/_mixins/layout';
@import 'src/styles/abstracts/_mixins/text';

.wrapper {
  padding: 1rem 1.5rem;
}

.cardSpacer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  @include font-body;
  background-color: $white;
  border-radius: 0.8rem;
  border: 0.15rem solid $black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .text {
    width: 100%;
    padding: 2rem 2rem;

    .cardHeader {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.25rem;

      .title {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1rem;
      }
    }

    .cardContent {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: normal;
    }
  }

  .image {
    flex: 1;
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      border-radius: 0.8rem;
      width: 100% !important;
      height: auto !important;
    }
  }
}

.hint {
  color: $grey;
}

.quest {
  display: flex;
  flex-direction: column;

  .title {
    margin: 0.5rem 0;
  }

  .inputs {
    margin-bottom: 1rem;
  }

  .question {
    @include font-header-bold;
  }
}

.feedbackContainer {
  margin: 3rem 0;
}


/* MEDIA QUERIES*/
@media (max-width: 600px) {
  .card{
    max-width: 600px;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .card{
    max-width: 720px;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .card{
    max-width: 960px;
    flex-direction: column;

  }
}
@media (max-width: 1200px) {
  .card {
    max-width: 1140px;
  }
  .text{
    flex: 0 0 65%;
  }
  .image{
    flex: 0 0 35%;
  }
}
@media (min-width: 1200px) {
  .card{
    min-width: 1140px;
  }
  .text{
    flex: 0 0 65%;
  }
  .image{
      flex: 0 0 35%;
  }

}



