@import 'src/styles/abstracts/_variables';
@import 'src/styles/abstracts/_mixins/layout';

.puzzleDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65vh;
  .textContent {

  }

  .image {

  }
}

.quest {

}

.question {

}
