@import 'src/styles/abstracts/_mixins/text';
@import 'src/styles/abstracts/_variables';

.input {
  @include font-button;
  color: $black;
  font-size: 0.875rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid #4b4b4b;
  box-sizing: border-box;
  border-radius: 999px;
}
