@import 'src/styles/abstracts/variables';

.gifEmbed {
  border-left: 0.6rem solid;
  border-right: 0.6rem solid;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-around;

  div {
    img {
      width: 15rem !important;
    }
  }

  &.correct {
    border-color: $success;
  }

  &.incorrect {
    border-color: $danger;
  }
}
