@import '../../../styles/abstracts/_mixins/text.scss';

.contentWrap {
  h3 {
    @include font-header;
    margin: 1rem 0;
  }

  .tableHeader {
    // make this a grid of 5 columns
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr);

    h4 {
      @include font-header;
      margin: 0;
    }
  }

  .tableBody {
    .tableRow {
      display: grid;
      grid-template-columns: 3fr repeat(4, 1fr);
      gap: 1rem;
    }
  }
}
