@import '../../../styles/abstracts/_mixins/text.scss';
@import '../../../styles/abstracts/variables';

.center {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .contentWrapper {
    display: flex;
    & > * {
      margin: 0 1rem;
    }

    .textWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .errorCode {
        @include font-header-extra-bold;
        font-size: 2rem;
        color: $red;
      }

      .msg {
        @include font-header-bold;
        font-size: 1.5rem;
      }
    }

    .seperator {
      width: 0.7rem;
      height: 12rem;
      background-color: $black;
    }
  }
}
